<!DOCTYPE html>
<html lang="en">


<head>
    <title>Course Data</title>
</head>

<body>
    <h1>Course Details</h1>
    <table border="2" id="course-details-table">
        <thead>
            <tr>
                <th>Average Marks</th>
                <th>Maximum Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ average_marks }} </td>
                <td>{{ maximum_marks }} </td>
            </tr>
        </tbody>
    </table>
    <img src="{{plot}}">
    <br>
    <a href="/">Go Back</a>
</body>

</html>