<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>div{margin: 10px;}</style>
  </head>
  <body>
    <h1>Add a student</h1>
    <form class="" action="/student/create" method="post" id="create-form">
      <div class="">
        <label for="">Roll Number:</label>
        <input type="text" name="roll" value="" required>
      </div>
      <div class="">
        <label for="">First Name:</label>
        <input type="text" name="f_name" value="" required>
      </div>
      <div class="">
        <label for="">Last Name:</label>
        <input type="text" name="l_name" value="">
      </div>

      <div class="">
        <label for="">Select Course: </label>

        <input type="checkbox" name="courses" value="course_1">
        <label for="">MAD 1</label>

        <input type="checkbox" name="courses" value="course_2">
        <label for="">DBMS</label>

        <input type="checkbox" name="courses" value="course_3">
        <label for="">PDSA</label>

        <input type="checkbox" name="courses" value="course_4">
        <label for="">BDM</label>
      </div>

      <div class="">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
  </body>
</html>
